 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

//  body{
//     background-color: #3e3e42;
//  }

 .nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style-type: none;
    padding:  5%;
    align-items: center;
    .nav-logo{
        width: 25%;
        margin-right:40px ;
        grid-column: 1/11;
    }
    .nav-img{
        width: 20vh;
        
    }

    .cart{
        background-color: #107BD4;
        color: white;
        border: 0px;
        height: 30px;
        width: 70px;
        font-size: medium;
        text-align: center;
        position: relative;

        #cart-num{
            background-color: #F8DF23;
            height: 25px;
            padding: 5%;
            width: 25px;
            display: none;
            position: absolute;
            bottom: 65%;
            right: -15%;
            border-radius: 50%;
        }
    }
}


#content{
    display: grid;
    justify-items: center;
    padding: 2%;
    grid-template-columns: repeat(1, 1fr);
}

#theme-img{
    width: 20px;
}

@media (min-width:425px) {
    #content{
      grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width:768px) {
    .nav{
        padding:  2% 4%;
    }

    #content{
      grid-template-columns: repeat(3, 1fr);
    }
    
}
@media (min-width:1024px) {
    #content{
      grid-template-columns: repeat(4, 1fr);
    }
    #theme-img{
        width: 30px;
    }
}

    
